:root {
    --nav-bar-back: #1a1d23;
}

body {
    margin: 0px;
    color: white;
}

.navBar {
    width: 100vw;
    height: 100px;
    background: var(--nav-bar-back);
    display: flex;
    justify-content: center;
    vertical-align: center;
    gap: 50px;
}

.navBarItem {
    width: 100px;
    height: 100px;
    border-left: aqua;
    border-right: aqua;
}